@import "tailwindcss";

@theme {
  --color-gold: #C8A96E;
  --color-gold-light: #DDB87A;
  --color-gold-dim: #6B5228;
  --color-surface: #111111;
  --color-surface-2: #1A1A1A;
  --color-border: #252525;

  --font-heading: var(--font-bebas), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #C8A96E;
  color: #080808;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #080808;
}
::-webkit-scrollbar-thumb {
  background: #C8A96E;
  border-radius: 9999px;
}
